body {
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
}
a {
  color: #00B7FF
}
#side-menu {
  ul {
    margin: 0px;
    list-style:none;
    li {
      margin: 0px;
    }
  }
}